* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.test-border {
  border: 1px solid red;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
